@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes rev-gradient {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

:root {
  --primary-color: #1956FF;
  --secondary-color: #FF23FF;
  --tertiary-color: #0B132B;
}

body {
  overflow-x: hidden;
}

#heart-shape {
  position: relative;
  width: 2rem;
  height: 2rem;
  background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color), #5BC0BE, #6FFFE9);
  background-size: 400% 400%;
  animation: rev-gradient 13s ease infinite;
  border-bottom: 3px solid #6FFFE9;
  border-right: 3px solid #6FFFE9;
  transform: rotate(45deg);
}

#heart-shape:before {
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: -15px;
  content: '';
  border-radius: 50%;
  background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color), #5BC0BE, #6FFFE9);
  background-size: 400% 400%;
  animation: gradient 13s ease infinite;
  border-left: 3px solid #6FFFE9;
  border-bottom: 3px solid #6FFFE9;
}

#heart-shape:after {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: -15px;
  content: '';
  border-radius: 50%;
  background: linear-gradient(-50deg, var(--primary-color), var(--tertiary-color), var(--secondary-color), #5BC0BE, #6FFFE9);
  background-size: 400% 400%;
  animation: gradient 13s ease infinite;
  border-right: 3px solid #6FFFE9;
  border-top: 3px solid #6FFFE9;
}

@media screen and (max-width: 469px) {
  .mobile-flex-column {
    flex-direction: column;
    align-items: center;
  }
}